
@{
    ViewBag.Title = "Invite";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Invite Sent!</h1>
        <img src="~/Content/email-marketing.jpg" width="800" />
    </div>
    <div class="col-md-12 text-center">
        <br /><br />
        @Html.ActionLink("Back to Dashboard", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>