@model Budget.Models.BankAccount

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="bank-heading">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="bank-balance">
            @Html.DisplayNameFor(model => model.Balance): $@Html.DisplayFor(model => model.Balance)
        </div>
    </div>
</div>

<div>
    @Html.Action("_AccountTransactions",Model.Id)
</div>
